/* COMMON */
.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 40px 0;
}

.green_section {
    background-color: #18bc9b;
    color: white;
}

.small_container {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.section_title h1,
.section_title h2,
.section_title .details {
    text-transform: uppercase;
}

.section_title h2 {
    font-size: 45px;
}

.section_title .star {
    font-size: 27px;
    margin-bottom: 15px;
}

.section_title .star::before {
    content:"";
    border: 2px solid;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    border-radius: 10px;
}

.section_title .star::after {
    content:"";
    border: 2px solid;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    border-radius: 10px;
}

#portfolio .star,
#contact .star {
    color: #2b3e50;
}

/* HEADER */
/* top nav */
.top_nav {
    color: white;
    background-color: #2b3e50;
    padding: 10px 0;
}

/* logo */
.top_nav .logo {
    font-size: 20px;
    font-weight: 600;
    padding-top: 2px;
}

/* menu */
nav .menu {
    padding-top: 7px;
}

nav .menu li {
    margin-left: 15px;
}

nav .menu a {
    text-transform: uppercase;
}

/* burger menu */
nav .menu,
nav .burger_menu {
    text-align: right;
}

nav .burger_menu .fa-bars {
    font-size: 25px;
    color: gray;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

/* banner */
.banner .avatar {
    max-width: 200px;
    height: auto;
}

.banner h1 {
    font-size: 55px;
}

.banner .details {
    font-size: 23px;
    font-weight: 400;
}

/* MAIN */
/* portfolio */
#portfolio img {
    border-radius: 10px;
    margin-bottom: 30px;
}

/* about */
#about p {
    font-size: 17px;
}

#about .btn_download .fa-download {
    margin-right: 5px;
}

#about .btn_download {
    color: white;
    background-color: #18bc9b;
    border: 1px solid white;
    margin-top: 20px;
}

#about .btn_download:hover {
    color: #18bc9b;
    background-color: white;
    border: 1px solid #18bc9b;
}

/* contact */

#contact form input,
#contact form textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
    padding-left: 0;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    color: #2b3e50;
    opacity: 0.8;
}

#contact .send_btn {
    color: white;
    background-color: #18bc9b;
    border: 1px solid white;
}

#contact .send_btn:hover {
    color: #18bc9b;
    background-color: white;
    border: 1px solid #18bc9b;
}

/* FOOTER */
footer {
    color: white;
}

footer .menu li {
    height: 55px;
    width: 55px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

footer .menu li a {
    line-height: 55px;
    font-size: 20px;
}

.top_footer h3 {
    font-weight: 500;
}

.top_footer p {
    font-size: 20px;
}

.top_footer a {
    color: #18bc9b;
}

.top_footer {
    background-color: #3a546d;
}

.bottom_footer {
    background-color: #2b3e50;
}