/* COMMON */
.menu li {
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 40px 0;
}

.green_section {
    background-color: #18bc9b;
    color: white;
}

.small_container {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.section_title h1,
.section_title h2,
.section_title .details {
    text-transform: uppercase;
}

.section_title h2 {
    font-size: 45px;
}

.section_title .star {
    font-size: 27px;
    margin-bottom: 15px;
}

/* HEADER */
/* top nav */
.top_nav {
    color: white;
    background-color: #2b3e50;
    padding: 10px 0;
}

/* logo */
.top_nav .logo {
    font-size: 20px;
    font-weight: 600;
}

/* menu */
nav .menu {
    padding-top: 7px;
}

nav .menu li {
    margin-left: 15px;
}

nav .menu a {
    text-transform: uppercase;
}

/* burger menu */
nav .menu,
nav .burger_menu {
    text-align: right;
}

nav .burger_menu .fa-bars {
    font-size: 25px;
    color: gray;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

/* banner */
.banner .avatar {
    max-width: 200px;
    height: auto;
}

.banner h1 {
    font-size: 55px;
}

.banner .details {
    font-size: 23px;
    font-weight: 400;
}

/* MAIN */
#portfolio img {
    border-radius: 10px;
    margin-bottom: 30px;
}

#about .btn {
    color: white;
    background-color: #18bc9b;
    border: 1px solid white;
}

#contact .btn {
    color: white;
    background-color: #18bc9b;
    border: none;
}

/* FOOTER */
.top_footer {
    background-color: #3a546d;
    color: white;
}

.bottom_footer {
    background-color: #2b3c4e;
    color: white;
}

footer .menu li {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

footer .menu li a {
    line-height: 50px;
    font-size: 20px;
}