/* COMMON */
.small_wrapper {
    max-width: 992px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.text_center {
    text-align: center;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.title h2 {
    font-size: 40px;
}

.title .star {
    font-size: 25px;
}

#portfolio, #about, #contact {
    padding: 30px 0;
}

/* HEADER */
header {
    color: white;
}

nav {
    background-color: #2b3e50;
    padding: 20px 0;
}

nav .logo {
    font-size: 20px;
    font-weight: 600;
}

nav .menu li {
    list-style-type: none;
    display: inline-block;
}

nav .menu li a {
    color: white;
    text-transform: uppercase;
}

nav .burger_menu a {
    font-size: 25px;
    color: gray;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

nav .menu,
nav .burger_menu {
    text-align: right;
}

.jumbotron {
    text-align: center;
    background-color: #18bc9b;
}

.jumbotron .avatar {
    width: 150px;
    height: auto;
}

.jumbotron .intro h1 {
    font-size: 50px;
}

.jumbotron .intro .star::after {
    content: "";
    width: 100px;
    height: 80px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

.jumbotron .intro .details {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

/* MAIN */

#portfolio img {
    border-radius: 10px;
    margin-bottom: 30px;
}

#about {
    background-color: #18bc9b;
    color: white;
}

#about .btn {
    margin: 0 auto;
    background-color: #18bc9b;
    border: 1px solid white;
}

#about .btn a {
    color: white;
}